.cross-container:before, .cross-container:after {
    position: absolute;
    background-color: var(--cross-color);
    border: 1px double black;
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cross-container.blur-container:before, .cross-container.blur-container:after {
    width: 45%;
    height: 4px;
}

.red-cursor{
    cursor: url("../../resources/circle-red.svg") 16 16, auto;
}

.green-cursor{
    cursor: url("../../resources/circle-green.svg") 16 16, auto;
}

.blue-cursor{
    cursor: url("../../resources/circle-blue.svg") 16 16, auto;
}

.yellow-cursor{
    cursor: url("../../resources/circle-yellow.svg") 16 16, auto;
}


.card-container{
    display: flex;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cross-container:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.blur-container{
    background: #282c34;
    border: 1px dashed #4c4c4c;
    border-radius: 10px;
}

.cross-container {
    position: relative;
    overflow: hidden;
}
